@font-face {
  font-family: "Benton Sans";
  src: url("https://assets.staticlp.com/javascripts/2c8c3478-e1ba-4af3-bfd0-9fea259fc17f-3.woff") format("woff"), url("https://assets.staticlp.com/javascripts/2c8c3478-e1ba-4af3-bfd0-9fea259fc17f-1.ttf") format("truetype");
  font-style: normal;
  font-stretch: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Benton Sans";
  src: url("https://assets.staticlp.com/javascripts/19319132-31a6-45e2-85a5-6dacae897490-3.woff") format("woff"), url("https://assets.staticlp.com/javascripts/19319132-31a6-45e2-85a5-6dacae897490-1.ttf") format("truetype");
  font-style: normal;
  font-stretch: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Benton Sans";
  src: url("https://assets.staticlp.com/javascripts/743d3d3a-da58-48d2-a5c3-bd7994650e23-3.woff") format("woff"), url("https://assets.staticlp.com/javascripts/743d3d3a-da58-48d2-a5c3-bd7994650e23-1.ttf") format("truetype");
  font-style: normal;
  font-stretch: normal;
  font-weight: 600;
  font-display: swap;
}
* { padding: 0; margin: 0;}
html, body, #fullheight {
    height: 100%;
    min-height: 100vh;
   
}
body {
  background: #0F1316;
  font-size: 64px;
  padding:0;
 
}

.marvel{
color: #FFF;
position: absolute;
font-size: 35px;
font-family: "Benton Sans Ex Comp Bla", sans-serif; 
font-weight: 550;
letter-spacing: -3px;
background: #F00;
padding: 2px 5px;
padding-right: 8px;
flex-shrink: 0;
bottom: 43px;
left: 51px;
}
.Hero{
position: absolute;
width: 1396px;
height: 417px;
flex-shrink: 0;
background-color: #FFF;
left: 262px;
top: 105px;
}
.Series{
  position: absolute;
  width: 688px;
height: 198px;
flex-shrink: 0;
  flex-shrink: 0;
  background-color: #FFF;
  left: 970px;
  top: 558px;
}
.Stories{
  position: absolute;
  width: 687px;
  height: 417px;
  flex-shrink: 0;
  background-color: #FFF;
  left: 262px;
  top: 558px;
  }
  .Random{
    position: absolute;
    width: 688px;
height: 198px;
flex-shrink: 0;
    flex-shrink: 0;
    background-color: #FFF;
    left: 970px;
    top: 777px;
    }
    .big-box{
      top: 50px;
      position: relative;
       margin:10px 0px;
      background: #F8F6F0;
      vertical-align: top;
      width: 687px;
      height: 417px;
      display: inline-block;
      background-image: radial-gradient(
        circle at center,
        black 0.05rem,
        transparent 0
      );
      background-size: 1rem 1rem;
      background-repeat: round;
      border-color: #0F1316;
      border-width: 3px;
      border-style: solid;
    }
    .big-box:hover{
      position: relative;
       margin:10px 0px;
       background-image: radial-gradient(
        circle at center,
        black 0.05rem,
        transparent 0
      );
      background-size: 1rem 1rem;
      background-repeat: round;
      vertical-align: top;
      width: 687px;
      height: 417px;
      display: inline-block;
      animation: pulse 0.7s infinite;
      animation-direction: alternate;
      -webkit-animation-name: pulse;
      animation-name: pulse;
      z-index: 4;
    }
    .big-box:active{
      animation: allscreen 2s infinite;
      -webkit-animation-name: allscreen;
      animation-name: allscreen;
      
      z-index: 4;
    }
    .banner-box{
      top: 50px;
      position: relative;
      background: #F8F6F0;
      width: 1396px;
      height: 417px;
      display: block;
      background-image: radial-gradient(
        circle at center,
        black 0.06rem,
        transparent 0
      );
      background-size: 1rem 1rem;
      background-repeat: round;
      border-color: #0F1316;
      border-width: 3px;
      border-style: solid;
      transition: transform 4s;
    }
    
    .banner-box:hover{
      position: relative;
      width: 1396px;
      height: 417px;
      display: block;
      animation: pulse 0.7s infinite;
      animation-direction: alternate;
      -webkit-animation-name: pulse;
      animation-name: pulse;
      z-index: 4;
    }
    .active {

    z-index: 4;
      transform: scale(5);
    }
    
    @-webkit-keyframes pulse {
      0% {
        -webkit-transform: scale(1);

      }
      100% {
        -webkit-transform: scale(1.05);

      }
    }
    
    @keyframes pulse {
      0% {
        transform: scale(1);

      }
      100% {
        transform: scale(1.05);

        
      }
    }

    @-webkit-keyframes allscreen {
      100% {
        -webkit-transform: scale(5);

      }
    }
    
    @keyframes allscreen {
      100% {
        transform: scale(5);

      }
    }
    .box{
      top: 50px;
      position: relative;
      background: #F8F6F0;
      margin:10px;
      width: 700px;
      height: 200px;  
      display:block;
      background-image: radial-gradient(
        circle at center,
        black 0.05rem,
        transparent 0
      );
      background-size: 1rem 1rem;
      background-repeat: round;
      border-color: #0F1316;
      border-width: 3px;
      border-style: solid;
      
    }
    .box:hover{
      position: relative;

      margin:10px;
      width: 700px;
      height: 203px;  
      display:block;
      animation: pulse 0.7s infinite;
      animation-direction: alternate;
      -webkit-animation-name: pulse;
      animation-name: pulse;
      z-index: 4;
    }
    .side{
      display: inline-block;
    }
    .content{
      font-family: 'Bebas Neue', sans-serif;
    
    margin: 0px 0px 10px 15px;
    }
    .hero{
      background-color: white;
      width: 215px;
      margin: 5px;
      min-height:305px;
      max-height: 305px;
      display: inline-block;
      overflow: hidden;
      border-style: solid;
  border-color: white;

    }
    
    .hero-img{
      font-size: 24px;
    }
    .hero-img img{
      display: inline-block;
      height: 205px;
      width: 205px;
      border-style: solid;
      border-color: black;

    }
    .hero-article img{
      vertical-align: top;
      display: inline-block;
      margin-left: 100px;
      margin-right: 50px;
      height: 605px;
      width:505px;
      border-style: solid;
      border-color: black;

    }
    .hero-article{
      vertical-align: top;
      line-height: 400px;
    }
    .heroes-container{
      margin-left:auto;
      margin-right:auto;
      width: 1160px;
    }
    .page{
      width: 1438px;
      margin-top: 0;
      background-color: #FFF;
      margin: 0px auto;
      min-height: 100vh;
    }
    .body{
      min-height: 100vh;

    }


    
    .pl {
      margin-left: auto;
      margin-right: auto;
      display: block;
      width: 1.25em;
      height: 1.25em;
    }
    .pl__ring,
    .pl__ball {
      animation: ring 2s ease-out infinite;
    }
    .pl__ball {
      animation-name: ball;
    }
    
    /* Dark theme  */
    .loader{
      margin-left: auto;
      margin-right: auto;
    }
    @media (prefers-color-scheme: dark) {
      :root {
        --bg: hsl(var(--hue), 10%, 10%);
        --fg: hsl(var(--hue), 10%, 90%);
      }
    }
    
    /* Animation */
    @keyframes ring {
      from {
        stroke-dasharray: 0 257 0 0 1 0 0 258;
      }
      25% {
        stroke-dasharray: 0 0 0 0 257 0 258 0;
      }
      50%,
      to {
        stroke-dasharray: 0 0 0 0 0 515 0 0;
      }
    }
    @keyframes ball {
      from,
      50% {
        animation-timing-function: ease-in;
        stroke-dashoffset: 1;
      }
      64% {
        animation-timing-function: ease-in;
        stroke-dashoffset: -109;
      }
      78% {
        animation-timing-function: ease-in;
        stroke-dashoffset: -145;
      }
      92% {
        animation-timing-function: ease-in;
        stroke-dashoffset: -157;
      }
      57%,
      71%,
      85%,
      99%,
      to {
        animation-timing-function: ease-out;
        stroke-dashoffset: -163;
      }
    }
.description{
  line-height: 1;
}
    
.search-box{
  margin-left: 10px;
  position: relative;
}

.input {
  padding: 10px;
  width: 80px;
  height: 80px;
  background: none;
  border: 4px solid #3b3640;
  border-radius: 50px;
  box-sizing: border-box;
  font-family: Comic Sans MS;
  font-size: 26px;
  color: #fff;
  outline: none;
  transition: .5s;
}
.search-box:hover input{
  width: 350px;
  color: #3b3640;
  border-radius: 10px;
}
.search-box svg{

}
.search-box:hover svg{
  
  opacity: 0;
  z-index: -1;
}
.fa-search{
  position: absolute;
  margin-top: -60px;
  margin-left: 15px;
  height: 50px;
}
a{
  font-size: 60px;
}
